pyvroomm/model/__pycache__/vroomm.cpython-312.pyc
*.pyc
pyvroomm/model/__pycache__/vroomm.cpython-312.pyc
pyvroomm/tools/__pycache__/cfgfile.cpython-312.pyc
pyvroomm/__pycache__/__init__.cpython-312.pyc
pyvroomm.egg-info/PKG-INFO
